.app {
  display: flex;
}
.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 220px;
  padding: 0 20px;
  height: 100%;
}
.app-main .css-1q505s5-MuiSkeleton-root,
.app-main .css-1epbneo-MuiSkeleton-root,
.app-main .css-1vejk87-MuiSkeleton-root,
.app-main .css-1e8giav-MuiSkeleton-root,
.app-main .css-r06cbe-MuiSkeleton-root {
  background-color: var(--skeleton-bg);
}